*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    height: 10vh;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 40vw;

}

img{
    display:inline;

}
.container-img img{
width: 2.75vw
}
.container-img {
    display: flex;
    height: 25vh;
    align-items: flex-end;
}
.container-img img:hover{
    cursor: pointer;
 }